.game {
    width: 600px;
    height: 400px;
    border-bottom: 10px solid #3abb21;
    margin: auto;
}

#dino {
    width: 100px;
    height: 100px;
    background-image: url(img/giraffe.png);
    background-size: 100px 100px;
    position: relative;
    top: 310px;
}

#cactus {
    width: 40px;
    height: 50px;
    background-image: url(img/tree.png);
    background-size: 40px 50px;
    position: relative;
    top: 260px;
    left: 570px;
    animation: cactusMov 2s infinite linear;
}

@keyframes cactusMov {
    0% {
        left: 570px;
    }
    100% {
        left: -20px;
    }
}

.jump {
    animation: jump 0.55s linear;
}

@keyframes jump {
    0% {
        top: 310px;
    }
    25% {
        top: 270px; 
    }
    50% {
        top: 230px;
    }
    75% {
        top: 270px; 
    }
    100% {
        top: 310px;
    }
}