body {
    background-color: LightSalmon;
    color:rgb(0,20,0);
    font-family:verdana;
    padding: 10px;


}
h1 {
    font-size:45px;
    color:MediumBlue;
    text-align:center;
    border:10px solid Purple;
}

h2 {
    font-size:45px;
    color:SpringGreen;
    text-align:center;
    border:10px solid Olive;
}
